/wildfire-detection
*.mp4
*.zip
/__pycache__
/.claude

# Terraform
.tfstate
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars